@import url('https://fonts.googleapis.com/css2?family=Poppins');
// @import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';

* {
    font-family: 'Avenir', 'Poppins', sans-serif;
}


.btn, .form-control, .form-select {
  height: 50px;
  border-color: var(--lighter);
  border-radius: 5px;
}

.btn-primary {
  background-color: $featured;
  border-color: $featured-dark;
  &:hover {
    background-color: $featured-dark;
  }

}
